<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemenu.css') }}">
</head>
<body>
    <h1>Menu</h1>
    <form action="{{ url_for('criar_af') }}" method="get">
        <button type="submit">Criar AFD e AFN</button>
    </form>
    <form action="{{ url_for('ler_af') }}" method="get">
        <button type="submit">Ler AFD e AFN</button>
    </form>
    <form action="{{ url_for('converter_afn_afd') }}" method="post">
        <button type="submit">Converter AFN em AFD</button>
    </form>
    <form action="{{ url_for('minimizar_afd') }}" method="post">
        <button type="submit">Minimizar AFD</button>
    </form>
    <form action="{{ url_for('maquina_turing') }}" method="post">
        <button type="submit">Máquina de Turing</button>
    </form>
    <form action="{{ url_for('sair') }}">
        <button type="submit">Sair</button>
    </form>
</body>
</html>
