<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Criação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='af.css') }}">
</head>
<body>
    <h1>Resultado da Criação</h1>
    <p>Autômato {{ tipo }} criado com sucesso!</p>
    <img src="{{ url_for('static', filename=tipo + '/desenhoAF.png') }}" alt="Desenho do Autômato">
    <a href="{{ url_for('index') }}"><button>Voltar</button></a>
</body>
</html>
